services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_ROOT_HOST: '%'
      MYSQL_DATABASE: arcto_crm
    ports:
      - '3306:3306'
    volumes:
      - db-data:/var/lib/mysql
    command:
      - --lower_case_table_names=1
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost', '-proot']
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7.4-alpine
    restart: unless-stopped
    ports:
      - '6379:6379'

  mailhog:
    image: mailhog/mailhog:latest
    restart: unless-stopped
    ports:
      - '8025:8025'

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: unless-stopped
    depends_on:
      - db
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
      PMA_ABSOLUTE_URI: http://localhost:8080/
    ports:
      - '8080:80'

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    depends_on:
      - db
      - redis
    env_file:
      - ./apps/api/.env
    environment:
      DATABASE_URL: mysql://dbu1334481:Hirschberg%232025%21@db5019072583.hosting-data.io:3306/dbs15001751
    ports:
      - '4000:4000'

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    depends_on:
      - api
    environment:
      NODE_ENV: development
      NEXT_PUBLIC_API_URL: http://localhost:4000
    ports:
      - '3000:3000'

volumes:
  db-data:
